---
layout: default
title: "Travel: Russia"
---

<div class="home">
  <img src="/images/map.png" alt="photo" />
  <ul class="post-list">
    {% for post in site.categories.russia %}
      <li>
        {% if post.active %}
            <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }} » <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
        {% else %}
            <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }} » {{ post.title }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
