---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
        <time datetime="{{ page.date_start | date_to_xmlschema }}" itemprop="name">{{ page.date_start | date: "%d.%m.%Y" }}</time> - 
        <time datetime="{{ page.date_finish | date_to_xmlschema }}" itemprop="name">{{ page.date_finish | date: "%d.%m.%Y" }}</time>
    </p>
    <span>
    [
        {% for tag in page.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}
            <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code></a>{% if tag != page.tags.last %} | {% endif %}
        {% endfor %}
    ]
    </span>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
